@import "../../scss/variable";

.footer {
  overflow: hidden;
  .main-footer {
    background-color: $BG_SECONDARY;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    .menu-title {
      font-size: 15px;
      font-weight: 600;
      line-height: 18.29px;
      text-align: left;
      color: $WHITE;
      margin: 10px;
    }
    .menu-item {
      font-size: 15px;
      font-weight: 400;
      line-height: 18.29px;
      text-align: left;
      color: $TEXT_LIGHT;
      margin: 10px;
    }
    .social-container{
        display: flex;
        justify-content: space-around;
        .social-icon{
            margin:10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
  }
  .bottom-footer {
    background-color: $BG_SECONDARY_2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    .copyright {
      font-size: 12px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.5px;
      text-align: right;
      color: $GRAY_TEXT;
    }
  }
}
.mb-footer{
display: none;
}
@media(max-width:991px){
  .desktop-footer{
    display: none;
  }
  .mb-footer{
    display: block;
  }
  .main-footer{
    flex-direction: column;
    .social-container{
      width:100%;
    }
  }
  .bottom-footer{
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    .compant-name{
      margin:20px 10px;
    }
    .copyright{
      text-align: center !important;
      margin:20px 10px;
    }
  }
}

// Dropdown style

.menudropdown-container {
  background-color: transparent;
  padding: 10px;
  width:100%;
  .menudropdown-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: $WHITE;
    &:hover {
      cursor: pointer;
    }
  }
  .menudropdown-body {
    height: 0;
    overflow: hidden;
    transition:1s;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
  }
  .open-menudropdown {
    height: auto;
    transition: 1s;
  }
  .close-menudropdown{
    img{
      transform: rotate(180deg);
      transition: 1s;
    }
  }
}
