$BG_PRIMARY: #29a2ba;
$BG_LIGHT: #b4e4f2;
$BG_SECONDARY: #112d35;
$BG_SECONDARY_2: #0e242a;
$BUTTON_BG: #1f94aa;
$TEXT_PRIMARY: #112d35;
$TEXT_SECONDARY: #c4c4c4;
$WHITE: #fff;
$TEXT_LIGHT: #a0abae;
$BG_PRIMARY_2: #c4f2ff;
$BG_LIGHT_2: #b4e4f273;
$GRAY_TEXT: #869194;
$GRAY_BG: #F7F7FE;
$BG_LIGHT_3:#E1F4FA;
$TEXT_PRIMARY_2: #1f94aa;
