$BG_PRIMARY:#29A2BA;
$BG_LIGHT:#B4E4F2;
$BG_SECONDARY:#112D35;
$BG_SECONDARY_2:#0E242A;
$BUTTON_BG:#1F94AA;
$TEXT_PRIMARY:#112D35;
$TEXT_SECONDARY:#C4C4C4;
$WHITE:#fff;
$TEXT_LIGHT:#A0ABAE;
$BG_PRIMARY_2: #C4F2FF;